<!-- <div class="layout-topbar">
    <a class="logo" href="/">
        <img src="assets/layout/images/logo.png" alt="california-logo"/>
    </a>
    <a id="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-align-left"></i>
    </a>
</div> -->

<div class="topbar-main">
    <div class="container">
        <div class="row">
            <div class="col-md-1 d-flex justify-content-center align-items-center">
                <i class="fa fa-bars" (click)="appMain.onMenuButtonClick($event)"></i>
            </div>
            <div class="col-md-3">
                <img src="../assets/images/logo-white.png" alt="" width="250">
            </div>
            <div class="col-md-8 d-flex justify-content-end align-items-center">
                <label class="dropdown">

                    <div class="dd-button">
                        <img src="../assets/layout/images/avatar-john.png" alt="">
                        admin
                    </div>

                    <input type="checkbox" class="dd-input" id="test">

                    <ul class="dd-menu">
                        <li>Profile</li>
                        <li (click)="logout()">Logout</li>
                       
                    </ul>

                </label>
            </div>
        </div>
    </div>
</div>