<div class="accor-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <h4>Employement History</h4>
      </div>
      <div class="col-md-6 text-right">
        <a class="" routerLink="/layout/employee/employment-add">Add Employement</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-main-box">

    <p-table dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25, 50, 100]"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['user.full_name']" [value]="listemployment" [customSort]="true"
      [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="caption">
        <div class="flex">
          <div class="btn-group" role="group">
            <!-- <button *RoleHasPermission="['EmploymentHistory.AddNew']" type="button" class="btn btn-outline-dark"  data-toggle="modal" data-target=".modal">Add Employement Record</button> -->
          </div>
          <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(employee)"></button> -->
          <!-- <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input type="text" pInputText (input)="applyFilterGlobal($event, 'contains')"/>
    </span> -->

        </div>
      </ng-template>
      <ng-template pTemplate="header" class="table">
        <tr class="table-header">
          <th style="min-width:2rem">
            <div class="flex align-items-center">
              #
            </div>
          </th>
          <th style="min-width:5rem">
            <div class="flex align-items-center">
              Employee
            </div>
          </th>
          <th style="min-width:5rem">
            <div class="flex align-items-center">
              Company
            </div>
          </th>
          <th style="min-width:7rem">
            <div class="flex align-items-center">
              Designation
            </div>
          </th>
          <th style="min-width:7rem">
            <div class="flex align-items-center">
              Start Date
            </div>
          </th>
          <th style="min-width:7rem">
            <div class="flex align-items-center">
              End Date
            </div>
          </th>
          <th style="min-width:7rem">
            <div class="flex align-items-center">
              Salary
            </div>
          </th>
          <th style="min-width:7rem">
            <div class="flex align-items-center">
              Job Description
            </div>
          </th>
          <th style="min-width:7rem">
            <div class="flex align-items-center">
              Reason to Switch
            </div>
          </th>
          <th style="min-width:5rem">
            <div class="flex align-items-center">
              Action
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-history let-i="rowIndex">
        <tr>
          <td class="font-weight-bold" *ngIf="(history.user.id != null) && (history.user.id !='') else elseBlock">
            {{i+1}}
          </td>
          <td *ngIf="(history.user.id != null) && (history.user.id !='') else elseBlock">

            <b>{{ history.user.full_name}} </b><span hidden>{{history.user.id}} </span>
          </td>
          <ng-template #elseBlock>
            <td col-span="2"></td>
          </ng-template>
          <td>
            {{history.company_name}}
          </td>
          <td>
            {{history.designation}}
          </td>
          <td>
            {{history.start_date | date: 'EEEE, MMMM d, YYYY'}}
          </td>
          <td>
            {{history.end_date | date: 'EEEE, MMMM d, YYYY'}}
          </td>
          <td>
            {{history.salary}}
          </td>
          <td>
            {{history.job_description}}
          </td>
          <td>
            {{history.reason}}
          </td>
          <td class="action">
            <!-- <ng-container *skeleton="isLoading; height: '20px'; width: '5rem'" >
          <span *ngIf="(history.user.id != null) && (history.user.id !='')">
            <a *RoleHasPermission="['EmploymentHistory.Update']"  data-toggle="modal" data-target=".modal" class="btn btn-dark table-link" (click)="FetchData(history.user.id,'update')"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </span>
            <a *RoleHasPermission="['EmploymentHistory.Delete']"  class="btn btn-danger table-link" data-toggle="modal" (click)="DeleteDialog(history.id)" data-target="#exampleModal"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </ng-container> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No record found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>