<p-confirmDialog #cd id="delete-dailogue" [style]=" {width: '35vw', top: '-190px'} " [baseZIndex]="10000 ">
  <ng-template pTemplate="footer">
    <button type="button" pButton class="cofirm-model-cancel-btn" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<div class="accor-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <h4>Insurance</h4>
      </div>
      <div class="col-md-6 text-right">
        <a class="" routerLink="/layout/insurance/plan-add">Add Insurance Plan</a>
      </div>
    </div>
  </div>
</div>

<div class="table-main-box">
  <div class="container">
    <p-table #insuranceplan dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['plan_name']" [value]="list_InsurancePlan" [customSort]="true"
      [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="caption">
        <div class="flex">
          <!-- <div *RoleHasPermission="['InsurancePlan.AddNew']" class="btn-group" role="group">
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#InsurancePlanModal">Add
          New</button>
      </div> -->
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input type="text" pInputText (input)="applyFilterGlobal($event, 'contains')" />
          </span>

        </div>
      </ng-template>
      <ng-template pTemplate="header" class="table">
        <tr class="table-header" style="background-color: crimson;color: white;">
          <th>
            
              #
           
          </th>
          <th>
            
              Plan Name
           
          </th>
          <th>
            
              Valid Upto
         
          </th>
          <th>
            
              Hospital Limit
            
          </th>
          <th>
            
              Room Limit
            
          </th>
          <th>
            
              Maternity Limit
            
          </th>
          <th style="min-width:5cqmax">
            
              Action
            
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-insuranceplan let-i="rowIndex">
        <tr>
          <th>

            {{i+1}}
          </th>
          <td>

            {{insuranceplan.plan_name}}

          </td>
          <td>

            {{insuranceplan.valid_upto | date:'longDate'}}

          </td>
          <td>

            {{insuranceplan.hospital_limit}} <b>PKR</b>

          </td>
          <td>

            {{insuranceplan.room_limit}} <b>PKR</b>

          </td>
          <td>

            <b>Normal: </b>{{insuranceplan.normal_delivery }} <b>PKR</b> <br><b>Complicated:
            </b>{{insuranceplan.complicated_delivery}} <b>PKR</b>

          </td>
          <td class="action">

            <!-- <button class="btn btn-dark" (click)="Fetch(insuranceplan.id,insuranceplan.plan_name,insuranceplan.valid_upto,insuranceplan.hospital_limit,insuranceplan.room_limit,insuranceplan.normal_delivery,insuranceplan.complicated_delivery)" data-toggle="modal"
              data-target="#InsurancePlanModal"><i class="pi pi-pencil"></i></button>
              &nbsp;&nbsp;<button
              class="btn btn-dark" (click)="DeleteDialog(insuranceplan.id)" data-toggle="modal"
              data-target="#delete_popup"><i class="pi pi-trash"></i></button> -->

              <div class="action-main">
                <div class="dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="pi pi-bars"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="Fetch(insuranceplan.id,insuranceplan.plan_name,insuranceplan.valid_upto,insuranceplan.hospital_limit,insuranceplan.room_limit,insuranceplan.normal_delivery,insuranceplan.complicated_delivery)">Edit</a>
                    <a class="dropdown-item" (click)="DeleteRecord(insuranceplan.id)">Delete</a>
                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                  </div>
                </div>
              </div>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No record found</td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>