<div class="wellcome-note-main">
  <div class="container d-flex">
    <img src="../../../assets/layout/images/news-building.png" alt="">
    <div>
      <h3>Wellcome , Admin</h3>
      <h6>Monday 24,12,2024</h6>
    </div>
  </div>
</div>

<div class="dashboard-main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <img src="../../../assets/images/users.png" alt="">
            </div>
            <div class="col-md-6">
              <h4>112</h4>
              <p>Employee</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <img src="../../../assets/images/users.png" alt="">
            </div>
            <div class="col-md-6">
              <h4>112</h4>
              <p>Request</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <img src="../../../assets/images/users.png" alt="">
            </div>
            <div class="col-md-6">
              <h4>112</h4>
              <p>Leave</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <img src="../../../assets/images/users.png" alt="">
            </div>
            <div class="col-md-6">
              <h4>112</h4>
              <p>Jobs</p>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="task-left-main">
          <div class="task-box">
            <h4>Task Statistics
              <div class="row">

                <div class="col-md-4">
                  <div class="task-item">
                    <h6>Total Task</h6>
                    <h5>200</h5>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="task-item">
                    <h6>Over Due Task</h6>
                    <h5>500</h5>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="task-item">
                    <h6>Complete Task</h6>
                    <h5>100</h5>
                  </div>
                </div>
              </div>
            </h4>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="task-row">
                <div class="row">
                  <div class="col-md-8">
                    <h6> <img src="../../../assets/images/status.png" alt="" width="20"> Completed Task</h6>
                  </div>
                  <div class="col-md-4">
                    <h6>221</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="task-row">
                <div class="row">
                  <div class="col-md-8">
                    <h6> <img src="../../../assets/images/status.png" alt="" width="20"> Inprogress Tasks</h6>
                  </div>
                  <div class="col-md-4">
                    <h6>221</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="task-row">
                <div class="row">
                  <div class="col-md-8">
                    <h6> <img src="../../../assets/images/status.png" alt="" width="20"> Completed Task</h6>
                  </div>
                  <div class="col-md-4">
                    <h6>221</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="task-row">
                <div class="row">
                  <div class="col-md-8">
                    <h6> <img src="../../../assets/images/status.png" alt="" width="20"> Inprogress Tasks</h6>
                  </div>
                  <div class="col-md-4">
                    <h6>221</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="leave-right-box">
          <h4>Today Absent</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="absent-item">
                <div class="user-det">
                  <img src="../../../assets/layout/images/avatar-john.png" alt="">
                  <h5>John john</h5>
                </div>
                <div class="user-leave-det">
                  <div>
                    <h6 class="m-0">4 Sep 2019</h6>
                    <p>Leave Date</p>
                  </div>
                  <div class="status-badge">
                    <span>pending</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="absent-item">
                <div class="user-det">
                  <img src="../../../assets/layout/images/avatar-john.png" alt="">
                  <h5>John john</h5>
                </div>
                <div class="user-leave-det">
                  <div>
                    <h6 class="m-0">4 Sep 2019</h6>
                    <p>Leave Date</p>
                  </div>
                  <div class="status-green">
                    <span>Approved</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="absent-item">
                <div class="user-det">
                  <img src="../../../assets/layout/images/avatar-john.png" alt="">
                  <h5>John john</h5>
                </div>
                <div class="user-leave-det">
                  <div>
                    <h6 class="m-0">4 Sep 2019</h6>
                    <p>Leave Date</p>
                  </div>
                  <div class="status-badge">
                    <span>pending</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center last-row-btn">
              <button>View All</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>